ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__Database=Host=localhost;Port=5432;Database=lealcontrol;Username=leal;Password=leal
Tenancy__DevelopmentTenantId=11111111-1111-1111-1111-111111111111
